# exclude .gitignore and similar from the generated tarball
.git*           export-ignore
# exclude CI configurations (useless outside the repo)
.travis.yml     export-ignore
images          export-ignore
screenshots     export-ignore
util            export-ignore
