// Required
@import "~bootstrap/scss/functions";

// Default variable overrides
//$body-bg: #000;
//$body-color: #111;
$card-bg : var(--secondary-background-color);
//paper-card-background-color
//secondary-background-color

// Required
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/maps";

//$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

@import "~bootstrap/scss/root";

// Optional Bootstrap components here
@import "~bootstrap/scss/reboot";
//@import "~bootstrap/scss/type";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/dropdown";


// etc

.Panel {
    font-size: var(--paper-font-body1_-_font-size);    
    .info {
        margin: 1rem;
        padding: 1rem;
        border: 0.1rem solid var(--secondary-text-color);
    }   
    .navbar {
        height: var(--header-height);        
        padding-left: 30px !important;
        background-color: var(--app-header-background-color);//$main-black-color;

        .ha-sidebar {
            padding-right: 1rem;
        }
    }
    .Container {
        padding: 1rem;

        .card {
            width: 17rem;
            display: inline-block;
            padding: 0.8rem;
            margin: 0.1rem;
            position: relative;
            vertical-align: top;
            border-radius: 0.4rem;
        }

        .configpanel {
            .group {
                width: 19rem;
                padding: 10px;
                margin: 5px;
                border: 1px solid var(--secondary-text-color);
                border-radius: 10px;
                .title {                    
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }
            .card-title {
                font-size: var(--ha-card-header-font-size);
                font-weight: var(--ha-card-header-font-weight);
            }
            .desc {
                color: var(--secondary-text-color);
                margin-bottom: 10px;
            }
            .value {
                .bool {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                }
                textarea {
                    width: 95%;
                }
            }
        }
        .settingpanel {
            .card {
                height: 11rem;
                margin: 0.2rem;
            }
            .card-title {
                font-size: var(--ha-card-header-font-size);
                font-weight: var(--ha-card-header-font-weight);
            }
            .label {
                padding-left: 0.5rem;
                width: 5.5rem;
                display: inline-block;
                color: var(--secondary-text-color);
            }
            input[type="text"], input[type="number"] {
                width: 8rem;
                margin-top: 0.5rem;
            }
            .decimals {
                margin-top: 0.2rem;
            }
            .attrib {
                display: inline-block;
                vertical-align: top;
            }
            .sensor {
                margin-right: 1rem;
                display: inline-block;
                vertical-align: top;
            }

        }
    }
}
