name: Test

on:
  push: 
    tags:
      - '*'

  # Allows you to run this workflow manually from the Actions tab
  #workflow_dispatch:

jobs:

build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: echo Hello, world!
